@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile"><MudAvatar Color="Color.Primary">@context.User.Identity.Name.ToCharArray()[0].ToString().ToUpper()</MudAvatar></a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Cerrar sesión &nbsp;<i class="fas fa-sign-out-alt"></i></button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
