@attribute [Authorize]

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Packing</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Cliente">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Pedidos/CrearPedido">
                    <span class="oi oi-plus" aria-hidden="true"></span> Ingresar pedido
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Pedidos/MisPedidos">
                    <span class="oi oi-basket" aria-hidden="true"></span> Mis pedidos
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrador">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Empresas/Indice">
                    <span aria-hidden="true"></span><i class="fab fa-creative-commons-share"></i>&nbsp;&nbsp; Empresas
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Empresas/Activador">
                    <span aria-hidden="true"></span><i class="far fa-building"></i>&nbsp;&nbsp; Activar productos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Usuarios/Internos">
                    <span aria-hidden="true"></span> <i class="fas fa-users"></i>&nbsp;&nbsp;Usuarios internos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="productos/indice">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Productos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Reporteria/Indice">
                    <span aria-hidden="true"></span><i class="far fa-file-pdf"></i>&nbsp;&nbsp; Reportes
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
