<MudCard Outlined="true" Elevation="3">
    <MudCardContent>
        <MudText><p class="text-muted">ID pedido:<b>&nbsp;@PedidoBlock.GuidPedido</b></p></MudText>
        <MudText Typo="Typo.body1"><p class="text-muted">Fecha:<b>&nbsp;@PedidoBlock.FechaPedido</b>.</p></MudText>
        <MudText Typo="Typo.body2"><p class="text-muted">Empresa:<b>&nbsp;@PedidoBlock.EmpresaMandante.NombreEmpresa</b>.</p></MudText>
        <MudDivider></MudDivider>
    </MudCardContent>
    <MudCardActions>
        <MudFab Label="Ver" Icon="@Icons.Material.Filled.WatchLater" Color="Color.Primary" OnClick="@( async() => await VerPedido.InvokeAsync(UrlVista))"></MudFab>
    </MudCardActions>
</MudCard>


@code {
    [Parameter]public Pedido PedidoBlock { get; set; }
    [Parameter]public EventCallback<string> VerPedido { get; set; }

    protected string UrlVista = string.Empty;

    protected override Task OnInitializedAsync()
    {
        if(PedidoBlock is not null)
        {
            UrlVista = "/Pedidos/Ver/" + PedidoBlock.GuidPedido;
        }
        return base.OnInitializedAsync();
    }
}
