@inject HttpClient cliente

<MudCard Elevation="3" Class="p-3 mt-2">
    <MudCardContent>
        <MudText Typo="Typo.h6">&nbsp;@ProductoBlock.NombreParaBusqueda</MudText>
	    <MudDivider />
        <div class="row">
	        <div class="col-sm-12 col-md-6 col-lg-6 p-2">
		        <MudCheckBox @bind-Checked="@Incorporado" Size="Size.Medium" Color="Color.Tertiary" Label="Agregado a empresa"></MudCheckBox>
	        </div>
	        @if (Incorporado)
	        {
		        <div class="col-sm-12 col-md-6 col-lg-6 p-2">
			        <MudNumericField @bind-Value="CantidadDisponible" Label="Cantidad Máxima" Min="1" Variant="Variant.Outlined" Step="1" />
		        </div>
	        }
        </div>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public Producto ProductoBlock { get; set; }
    [Parameter] public bool Incorporado { get; set; }
    [Parameter] public int CantidadDisponible { get; set; }
    [Parameter] public EventCallback<Tuple<int,int>> AgregarProductoEmpresa { get; set; }
    [Parameter] public EventCallback<int> EliminarProductoEmpresa { get; set; }
}
