@page "/Empresas/Agregar/{IdEmpresa:int}"
@inject HttpClient Cliente
@inject NavigationManager Navigator
@inject IJSRuntime JsRuntime
@attribute [Authorize(Roles = "Administrador")]

<h3><i class="far fa-plus-square"></i>&nbsp;Agregar producto a la empresa</h3>
<hr />
@if (ProductosEnSistema is null)
{
    <MudSkeleton />
    <MudSkeleton Animation="Animation.False" />
    <MudSkeleton Animation="Animation.Wave" />
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p>Cargando productos, espere por favor ...</p>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var producto in ProductosEnSistema)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <ActivadorProductosComponent ProductoBlock="producto" AgregarProductoEmpresa="AgregarProducto" 
                                             CantidadDisponible="0" Incorporado="false" 
                                             EliminarProductoEmpresa="EliminarProducto"></ActivadorProductosComponent>
            </div>
        }
    </div>
}


@code {
    [Parameter] public int IdEmpresa { get; set; }
    protected List<Producto> ProductosEnSistema;
    protected List<DisponibilidadProducto> ProductosDisponibles;

    protected override async Task OnInitializedAsync()
    {
        ProductosEnSistema = await Cliente.GetFromJsonAsync<List<Producto>>("api/Productos/ObtenerListaProductos");
    }

    //int id producto - cantidad
    protected void AgregarProducto(Tuple<int, int> requestProducto)
    {
        return;
    }

    protected void EliminarProducto(int idProducto)
    {
        return;
    }
}
